.mainSection {
    padding: 20px;
    max-width: 193px;
    min-height: 218px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

h2 {
    width: 192;
    height: 12;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
    vertical-align: bottom;
    text-transform: uppercase;
}

.filterBody {
    display: flex;
    flex-direction: column;
}
